<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("./components/header.ejs")%>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->

    <div id="wrapper">
      <!-- Sidebar -->
      <%- include("./components/sidebar.ejs")%>
      <!-- End of Sidebar -->
      <!-- Topbar -->
      <%- include("./components/topbar.ejs")%>
      <!-- End of Topbar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper">
        <div class="content"><%- include("./page/access/access.ejs")%></div>
      </div>

      <!-- End of Content Wrapper -->
    </div>

    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
      <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <%- include("./components/scripts.ejs")%> 
    <%- include("./page/access/accessscript.ejs")%>
  </body>
</html>
